* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

#nav1{
    display: inline-block;
    padding-top:15px;
    
}

h3{
  float:right;
}



#nav2{
    float:right;
    padding-top: 15px;
}


#line{
    background-image: url("img/hr-img.png");
    background-repeat: repeat-x;
min-height: 30px;
/* min-width: 100px; */

}

section{
    margin-top:10px;
    display: inline;
}

#parag{

  font-weight:lighter;
  font-family: Arial, sans-serif;
}

body,header{

  padding-left:30px;
  padding-right:30px;

}

#print{
    float:right;
    margin-right: 30px;
  padding-bottom: 20px;
    
}

#printimg{
    display: inline;
    color: gray;
    font-weight: bold;
}

#header{
    margin-left: 30px;


}

#mainImg{
  /* margin-left: 200px; */
  width: 100%;
  
}

.para{

  margin-left: 30px;
  color: gray;
    font-weight: bold;
}


#colLeft{

  float:left;
  margin-left: 30px;
  
  padding-right: 10px;

}

#colRight{

  padding-left: 50px;


}

#colRight p {

  font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;


}

#colLeft{

  font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
}


#div2{
  margin-top: 30px;
  background-image:url('img/list-bg.png') ;
  background-repeat: no-repeat;


  margin-left: 300px;
  padding-left: 300px;
}

#lorem {

  margin-top: 30px;
}

#div3{
 margin-top: 30px;
  background-image: url("img/hr-img.png");
  background-repeat: repeat-x;
min-height: 30px;


}

#div4 {
  display: inline;


}

#div4 img{
  float:left
}

button{
  float: right;
}

footer{
  margin-top: 30px;
}

footer img{
  margin-left: 700px;

}

footer p{
  text-align: center;
  color: gray;
}


h3{
  font-family: 'Lobster', cursive;
}

h3 p{

  color: dimgrey;
  
}

h4{

  font-weight: bold;
  font-size: 25px;
}

#posted{
  font-size: 11px;
  color: gray;
  font-weight: bold;
}

#lastPara{

  font-weight: bold;
}

button{
  

  background-color: brown;
  width: 150px;
  height: 50px;
}